# OS
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/
*.swp

# Logs
*.log



# Ignore les vrais fichiers de configuration de veille pour ne pas les pousser sur GitHub
.automation/veille-wordpress-seo/veille-wordpress-seo.json